<div class="main">
    <div class="main--header">
        <img src="../../../assets/images/fundoazul.png" alt="facens">
        <img class="logo" src="../../../assets/images/facens.png" alt="logo">
    </div>
    <div class="main--body">
        <div class="main--body--text">
            <h1 class="title">Bem-vindo ao aplicativo Facens</h1>
            <p class="blue">Entre com seu usuário e senha e crie uma conta</p>
        </div>
        <div class='main--body--imput'>
            <label class="blue" for="username">Usuário:</label><br>
            <div id="rectangle" style="width:number 10px; height:number 10px; background-color:blue"></div>
            <img class="borda" src="../../../assets/images/person.svg" alt="icon">
            <input type="text" id="username" name="username">
        </div>
        <div class='main--body--imput'>
            <div>
                <label class="blue" for="username">Senha:</label><br>
                <div id="rectangle" style="width:number 10px; height:number 10px; background-color:blue"></div>
                <img class="borda" src="../../../assets/images/cadeado.svg" alt="cadeado">
                <input type="password" id="pass" name="password" minlength="8" required/>
            </div>
            <div id="rectangle" style="width:number 10px; height:number 10px; background-color:blue"></div>
            <button class="button">ENTRAR</button>
        </div>
    </div>