<div class="main">
    <div class="main--header">
        <img src="../../../assets/images/fundoazul.png" alt="facens">
        <img class="logo" src="../../../assets/images/facens.png" alt="logo">
    </div>
    <div class="main--body">
        <div class="main--body--text">
            <h1 class="title">Bem-vindo ao aplicativo Facens</h1>
            <p class="blue">Entre com seu usuário e senha e crie uma conta</p>
        </div>
        <section>
            <div class='main--body--imput'>
                <label class="name" for="username">Usuário</label><br>
                <input class="lugar" type="text" id="username" name="username">
            </div>
            <div class='main--body--imput'>
                <label for="pass">Senha</label><br>
                <input class="lugar" type="password" id="pass" name="password" minlength="8" required>
            </div>
            <div>
                <input class="entrar" type="submit" value="ENTRAR">
            </div>
        </section>
        <di>
            <footer class="rodape"> <u>Criar uma conta</u> </footer>
        </di>