<div class="main">
    <div class="main--header">
        <router-outlet></router-outlet>
        <img src="../../../assets/images/fundoazul.png" alt="facens">
        <img class="logo" src="../../../assets/images/facens.png" alt="logo">
    </div>
    <div class="main--body">
        <div class="main--body--text">
            <h1 class="title"><b>Bem-vindo ao aplicativo Facens</b></h1>
            <p class="blue">Entre com seu usuário e senha ou crie uma conta</p>
        </div>
        <section>
            <div class='main--body--imput'>
                <label class="name" for="username">Usuário</label><br>
                <input class="lugar" type="text" id="username" name="username">
                <div class="main--footer--icon"></div>
                <ion-icon src="../../assets/images/"></ion-icon>
                <div class='main--body--imput'>
                    <label class="name2" for="pass">Senha</label><br>
                    <input class="lugar2" type="password" id="pass" name="password" minlength="8" required>
                </div>
                <div class="entrar1">
                    <input class="entrar" type="submit" value="ENTRAR">
                </div>
        </section>
        <div>
            <footer class="rodape"> <u>Criar uma conta</u> </footer>
        </div>